.DetailedPage {
  text-align: center;
  padding: 20px;
  background-color: #e3f2fd; 
}

.DetailedPage-content {
  max-width: 800px;
  margin: 0 auto;
}

.question-box {
  background-color: #ecf5fc; 
  border: 2px solid #587e9f; 
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.question-box label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.option-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

.get-answer-btn {
  margin-top: 20px;
  background-color: #afd6f7; 
  color: #96b9ed; 
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
}

.get-answer-btn:hover {
  background-color: #9ac8ef; 
  color: white;
}

.question-box label {
  font-weight: normal;
  font-size: 1.2em; 
  display: block;
  margin-bottom: 10px;
}

.option-group .form-check-label {
  font-weight: normal;
  font-size: 1em; 
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.get-answer-btn {
  margin-top: 10px;
}