/* Results.css */

/* Overall container styling */
.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(rgba(15, 32, 39, 0.8), rgba(32, 58, 67, 0.8)), url('C:/Users/layan/starter_helpi/src/picture/ai.jpg');
    background-size: cover; /* Make the image cover the entire page */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Ensure the image stays fixed when scrolling */
    font-family: 'Orbitron', sans-serif; /* Robotic font */
    color: #f2f2f2; /* Light text color */
    min-height: 100vh;
}

/* Title styling */
.results-title {
    font-size: 2.5rem;
    margin-top: 20px;
    font-weight: bold;
    color:#0affff; 
    text-shadow: 0 0 10px #0affff; /* Glowing effect */
}

/* Box styling for the result text */
.results-box {
    background-color: #1a1a1a;; /* White background */
    border: 2px solid #0affff;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(10, 255, 255, 0.5); /* Glowing effect */
    color: #f2f2f2;;
    font-size: 1rem;
    line-height: 1.5;
}




